@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Roboto Slab', serif;
}

body p {
  font-family: 'Open Sans', sans-serif;
}

body a {
  text-decoration: none;
  color: black;
}

body h2 { 
  font-family: 'Open Sans', sans-serif;
}

body img{
  width: 70%;
  display: block;
  margin: auto;
  margin-top: -8%;
}

@media screen and (max-width: 800px){
  body img{
    width: 100%;
  }
}

.content{
  text-align: center;
  margin-top: 10px;
}

.content h2{
  margin: 10px 0;
}